.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #fff;
}

.module-selection-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.module-selection-item {
  width: 250px;
  padding: 20px;
  background-color: lightpink;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.module-selection-item h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.module-selection-item input[type="file"] {
  display: none;
}

.module-selection-item .file-input-label {
  display: inline-block;
  padding: 8px 12px;
  background-color: #4caf50;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.module-selection-item .file-input-label:hover {
  background-color: #45a049;
}

.module-selection-item .error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}



.SelectModules {
  background-color: #374151;
  border: 1px solid;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  display: center;
  flex-direction: column;
  align-items: center;
  color: #000;
}



body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.SelectModules h4 {
  margin-top: 0;
  margin-bottom: 5px;
}

.SelectModules input[type="file"] {
  margin-bottom: 5px;
}

.SelectModules p {
  color: red;
  margin-top: 5px;
  margin-bottom: 0;
}



/* custom */
body{
  margin:0;
  position: relative;
}

.navbar{
  margin-bottom: 2%;
  padding:1%;
}



.modules-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10%;
}

.SelectModules{
  /* flex: 0 0 calc(30% - 10px); */
  margin-bottom: 20px; 
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  margin: 1%;
  border-radius: 16px;
}

.enter-btn{
  border: none;
  border-radius: 4px;
  color:white;
  background-color: #374151;
}
.enter-btn:hover{
  background-color: black;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  transform: translateY(2px); 
  cursor: pointer;
  
}

input[type="file"]{
  background-color: #45a049;
}

.file-input-label{
  color: white;
}

.file-input-label:hover{
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  transform: translateY(-2px); 
}

.SelectModules{
  transition: transform 0.5s ease, background-color 1s ease;
}
.SelectModules h4,span{
  color: white;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.SelectModules h4{
  font-size: 18px;
}

.SelectModules:hover{
  background-color: #3c0429;
  transform: scale(1.05);
}

